/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.formulaire {
  background: #15172b;
  color: #dc2e55;
  padding: 39px;
  width: 476px;
}

p {
  display: flex;
  width: 280px;
  height: 21px;
  align-items: start;
  flex-shrink: 0;
  color: #dc2e55;
}

input,
textarea,
select {
  background-color: #303245;
  border: none;
  color: #65657a;
  padding: 10px;
  border-radius: 7px;
}

.radio-placeholder {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #65657a;
}

input:checked + .radio-placeholder {
  background: #dc2e55;
}

.radio input {
  display: none;
}

.box {
  margin-top: 30px;
}

.bouton-envoyer {
  width: 100%;
  background-color: #0088dd;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
}

.switch-wrapper {
  display: inline-block;
  width: 30px;
  height: 20px;
  padding: 2px;
  border-radius: 10px;
  background: orange;
}

.switch-inner {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: red;
}

input:checked + .switch-wrapper .switch-inner {
  margin-left: 10px;
}

.switch input {
  display: none;
}

/* ====================================
// base rules
// ==================================== */
